.content {
  width: 100%;
}

mat-card {
  max-width: 350px;
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
}

mat-input-container {
  width: 100%;
}

mat-spinner {
  width: 25px;
  height: 25px;
  margin: 20px auto 0 auto;
}

.error {
  color: #D50000;
}

.success {
  color: #8BC34A;
}

@media screen and (max-width: 599px) {

  .content {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
  }

  mat-card {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
    max-width: 999px;
  }

}
