<div class="content" fxLayout="row" fxLayoutAlign="center">
    <mat-card elevation="5" fxFlex>
      <mat-card-subtitle>Change Your Password</mat-card-subtitle>
      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>
      <mat-card-content>
        <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
          <mat-input-container>
            <input matInput formControlName="oldPassword" required type="password" placeholder="old password">
          </mat-input-container>
          <mat-input-container>
            <input matInput formControlName="newPassword" required type="password" placeholder="new password">
          </mat-input-container>
          <button type="submit" [disabled]="!changePasswordForm.form.valid" mat-raised-button color="primary">Change Password</button>
        </form>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      </mat-card-content>
    </mat-card>
</div>
