<div class="content" fxLayout="row" fxLayoutAlign="center">
    <md-card elevation="5" fxFlex>
      <md-card-subtitle>Change Your Password</md-card-subtitle>
      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>
      <md-card-content>
        <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
          <md-input-container>
            <input mdInput formControlName="oldPassword" required type="password" placeholder="old password">
          </md-input-container>
          <md-input-container>
            <input mdInput formControlName="newPassword" required type="password" placeholder="new password">
          </md-input-container>
          <button type="submit" [disabled]="!changePasswordForm.form.valid" md-raised-button color="primary">Change Password</button>
        </form>
        <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>
      </md-card-content>
    </md-card>
</div>
