<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex>
    <mat-card-subtitle>Change Your Password</mat-card-subtitle>
    <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
    <mat-card-content>
      <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
        <mat-form-field>
          <input formControlName="oldPassword" matInput placeholder="old password" required type="password">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="newPassword" matInput placeholder="new password" required type="password">
        </mat-form-field>
        <button [disabled]="!changePasswordForm.form.valid" color="primary" mat-raised-button type="submit">Change
          Password
        </button>
      </form>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>
