<mat-card>
  <mat-card-header>
    <mat-card-title><b>{{title}}</b></mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="imgUrl">
  <mat-card-content>
    <p>
      {{content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="onButtonClick()">
      {{apiText}}
    </button>
  </mat-card-actions>
  <div [class]="responsePanelClass()">
    <pre>Path: {{responseObj.path}}</pre>
    <pre>Method: {{responseObj.method}}</pre>
    <pre>Status: {{responseObj.status}}</pre>
    <pre>Message: {{responseObj.body || responseObj.message}} </pre>
  </div>
</mat-card>
