<md-card>
  <md-card-header>
    <md-card-title><b>{{title}}</b></md-card-title>
    <md-card-subtitle>{{subTitle}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="imgUrl">
  <md-card-content>
    <p>
      {{content}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="onButtonClick()">{{apiText}}</button>
  </md-card-actions>
  <div [class]="responsePanelClass()">
    <pre>Path: {{responseObj.path}}</pre>
    <pre>Method: {{responseObj.method}}</pre>
    <pre>Status: {{responseObj.status}}</pre>
    <pre>Body: {{responseObj.body}}</pre>
  </div>
</md-card>
