:host {
  text-align: center;
  max-width: 350px;
}

mat-card {
  text-align: left;
  .response-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  .response-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }

  .response {
    max-height: 0;
    transition: max-height 1s;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: -16px;
    padding-bottom: 0;
  }

  .expand {
    padding: 15px;
    border: 1px solid transparent;
    max-height: 999px;
    margin-top: 8px;
  }

  mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}


@media screen and (max-width: 599px) {
  :host {
    max-width: 999px;
  }
}
