<md-toolbar color="primary" class="app-navbar">
  <button md-button md-ripple routerLink="/">
    <img alt="Angular-Spring-JWT-Starter" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
    <span>Angular-Spring-JWT-Starter</span>
  </button>

  <div class="right">
    <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
      <span>Login</span>
    </button>
    <button class="greeting-button" *ngIf="hasSignedIn()" md-button md-ripple>
      <span>Aloha, {{userName()}}</span>
    </button>
    <button *ngIf="hasSignedIn()" (click)="logout()" md-button md-ripple>
      <span>Logout</span>
    </button>
  </div>
</md-toolbar>

