<md-toolbar color="primary" class="app-navbar">
  <button md-button md-ripple routerLink="/">
    <img alt="Angular-Spring-Starter" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
    <span>Angular-Spring-Starter</span>
  </button>

  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
      <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
        <span>Login</span>
      </button>
      <button
        class="greeting-button"
        *ngIf="hasSignedIn()"
        md-button md-ripple
        [mdMenuTriggerFor]="accountMenu">
        <span>Aloha, {{userName()}}</span>
      </button>
      <button
        class="greeting-hamburger"
        *ngIf="hasSignedIn()"
        md-icon-button md-ripple
        [mdMenuTriggerFor]="accountMenu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu #accountMenu
        class="app-header-accountMenu"
        yposition="below"
        [overlapTrigger]="false">
        <app-account-menu ></app-account-menu>
      </md-menu>
    </div>
  </div>
</md-toolbar>

